@media (max-width: 1492px)
  .container
    width: 90%
  .header
    &__wrapper
      max-height: 70px
      margin-bottom: 70px
      max-width: 100%
      justify-content: space-between
    &__logo
      width: 130px
    &__navigation
      &-item
        font-size: 20px
        line-height: 20px
        white-space: nowrap
    &__shopping
      width: 20px
  .banner 
    &__about
      max-width: 600px
      padding-top: 50px
      &-title
        &-dark
          font-size: 50px
          margin-bottom: 30px
          margin-right: 15px
        &-primary
          font-size: 50px
          margin-bottom: 30px
          color: $primary
      &-text
        font-size: 20px
        margin-top: 0
        margin-bottom: 40px
      &-garden
        top: 0
        width: 400px
        &-image
          width: 100%
          top: 0
          right: 0
          bottom: 0
          left: 0
    &__showcase
      width: 400px
      &-image
        width: 100%
  .wrapper
    display: flex
    justify-content: space-between
  .advantages
    padding: 70px 0
    &__title
      margin-bottom: 50px
    &__card
      &-image
        margin-bottom: 25px
      &-title
        font-size: 18px
        margin-bottom: 10px
      &-text
        font-size: 17px
        line-height: 150%
  .grow
    padding-top: 70px
    padding-bottom: 70px
    &__image
      width: 80%
  .products
    padding-top: 70px
    padding-bottom: 70px
    &__card
      margin-bottom: 25px
      &-image 
        margin-bottom: 15px
      &-name
        font-size: 18px
      &-price
        font-size: 15px
  .reviews
    &__text
      margin-left: 50px
      width: 500px
      &-feedback
        font-size: 18px
      &-name
        float: right
        margin-left: 0
    &__swiper
      &-button
        position: relative
        left: 164px
        bottom: 32px
        width: 150px
        &-prev
          position: relative
          width: 60px
          height: 18px
          right: -30%
        &-next
          position: relative
          width: 60px
          height: 18px
          right: -30%
  .contact
    &__questions
      width: 500px
  .footer
    padding: 70px 0
    &__contact
      font-size: 22px
      &-item
        margin-bottom: 10px
    &__logo
      width: 220px
    &__social
      width: 130px
      &-follows
        font-size: 20px
      &-facebook
        width: 30px
        height: 30px
      &-twitter
        width: 30px
        height: 30px
      &-telegram
        width: 30px
        height: 30px
@media (max-width: 1200px)
  .container
    width: 95%
  .header
    &__wrapper
      max-height: 70px
      margin-bottom: 70px
      justify-content: space-between
    &__logo
      width: 130px
      margin-right: 0
    &__navigation
      margin-right: 0
      &-item
        font-size: 20px
        line-height: 15px
        margin-right: 20px
      &-item:last-child
        margin-right: 0
  .banner 
    &__about
      max-width: 550px
      padding-top: 50px
      &-title
        &-dark
          font-size: 50px
          margin-bottom: 30px
          margin-right: 15px
        &-primary
          font-size: 50px
          margin-bottom: 30px
          color: $primary
      &-text
        font-size: 20px
        margin-top: 0
        margin-bottom: 40px
      &-garden
        top: 0
        left: 166px
        width: 336px
        bottom: 0px
    &__showcase
      width: 300px
      right: 0
  .buttons
    margin-bottom: 20px
  .advantages
    &__card
      &-image
        margin-bottom: 15px
      &-title
        font-size: 15px
        display: block
        margin-bottom: 10px
      &-text
        margin: 0
        font-size: 14px
  .grow
    padding-top: 50px
    padding-bottom: 50px
  .products
    padding-top: 50px
    padding-bottom: 50px
    &__card
      margin-bottom: 15px
      &-image 
        margin-bottom: 15px
      &-name
        font-size: 14px
        margin-bottom: 10px
      &-price
        font-size: 15px
    &__button
      margin-top: 12px
  .reviews
    &__text
      margin-left: 40px
      width: 40%
      &-name
        float: right
        margin-left: 0
    &__swiper
      &-button
        bottom: 15px
  .contact
    margin-bottom: 70px
    &__questions
      width: 47%
    &__input
      margin-bottom: 12px
  .footer
    background-color: $secondary
    padding: 30px 0
    &__contact
      font-size: 18px
      &-item
        margin-bottom: 7px
      &-item:last-child
        margin-bottom: 0
      &__logo
        width: 180px
    &__social
      width: 130px
      &-follows
        font-size: 20px
      &-facebook
        width: 30px
        height: 30px
      &-twitter
        width: 30px
        height: 30px
      &-telegram
        width: 30px
        height: 30px
@media (max-width: 980px)
  .container
    width: 729px
    margin: auto
  .header
    &__wrapper
      width: 100%
      margin-bottom: 75px
    &__navigation
      display: none
    &__shopping
      display: none
  .menu
    &-button
      display: flex
      width: 40px
      height: 40px
      align-items: center
      justify-content: center
      background-color: $primary
      border-radius: 50%
      flex-direction: column
      border: none
      cursor: pointer
      &__line
        margin-bottom: 6px
        width: 22px
        height: 1px
        background-color: white
      &__line:last-child
        margin-bottom: 0
  .banner
    &__about
      max-width: 100%
      padding-top: 0
      padding-bottom: 100px
      &-title
        display: flex
        &-dark
          font-style: normal
          font-weight: 400
          font-size: 70px
          line-height: 76px
          white-space: nowrap
        &-primary   
          font-style: normal
          font-weight: 400
          font-size: 70px
          line-height: 76px
      &-text
        font-size: 24px
        line-height: 150%
        margin-bottom: 20px
      &-garden
        left: 0
        margin-left: auto
        width: 478px
    &__showcase
      display: none
  .wrapper
    width: 100%
    display: block
  .buttons
    margin-bottom: 51px
  .advantages
    &__title
      font-size: 40px
      line-height: 43px
      margin-bottom: 60px
    &__info
      grid-template-columns: 1fr
      grid-template-rows: repeat(3, 1fr)
      grid-gap: 50px
    &__card
      &-image
        display: none
        &--media
          display: block
          margin-bottom: 25px
      &-title 
        font-size: 20px
        line-height: 150%
        margin-bottom: 10px
      &-text
        font-size: 17px
        line-height: 150%
  .products
    &__cards
      display: none
    &__swiper
      display: block
      width: 100%
      overflow: hidden
    &__card
      &-image
        width: 100%
        height: 400px
        object-fit: cover
    &__button
      display: none
    &__pagination
      display: flex
      justify-content: center
      position: relative
      margin-top: 40px
      white-space: nowrap
  .swiper
    &-slide 
      width: 281px
    &-pagination
      position: relative
      max-width: 240px
      margin: 0
      &-bullet
        width: 50px
        height: 4px
        background-color: $primary 
        border-radius: 0px
        margin-left: 0
        margin-right: 10px
      &:last-child
        margin-left: 0
  .reviews
    margin-bottom: 68px
    &__title
      font-size: 40px
      line-height: 43px
      margin-bottom: 50px
    &__text
      margin: auto
      width: 50%
      &::after 
        left: 80%
        width: 174px
        height: 174px
      &-feedback
        font-size: 17px
        line-height: 150%
    &__swiper
      &-button
        display: none
    &__image
      width: 312px
      overflow: hidden
      flex-basis: auto
      &-image
        display: none
      &-media
        display: block
        width: 100%
    &__pagination
      display: flex
      position: relative
      margin-top: 40px
      justify-content: center
      white-space: nowrap
  .contact 
    &__title
      margin-bottom: 50px
    &__wrapper
      flex-direction: column
      align-items: start
    &__questions
      padding: 47px 20px 
      width: 97%
      &-title
        margin-top: 0
        margin-bottom: 40px
    &__image
      width: 100%
      order: -5
    &__input
      margin-bottom: 27px
      &-name
        flex-basis: 28%
        font-size: 17px
        line-height: 18px
      &-email
        flex-basis: 68%
        font-size: 17px
        line-height: 18px
      &-message
        font-size: 17px
        line-height: 18px
    &__button
      left: 90%
      bottom: 65px
  .footer
    &__logo
      width: 180px
@media (max-width: 768px)
  .container
    max-width: 90%
    margin: auto
  .header
    &__wrapper
      margin-bottom: 35px
  .banner
    &__showcase
      display: block
      width: 220px
      height: 315px
      order: -10
      margin: auto
    &__about
      padding-bottom: 35px
      &-garden
        display: none
      &-title
        flex-wrap: wrap
        &-dark
          margin-bottom: 10px
          font-size: 48px
          line-height: 52px
        &-primary
          margin-bottom: 20px
          font-size: 48px
          line-height: 52px
      &-text
        width: 100%
        font-size: 17px
        line-height: 150%
    &__buttons
      &-reservation
        margin-bottom: 20px
  .buttons
    margin-bottom: 0
  .button
    width: 100%
  .wrapper
    display: flex
    flex-direction: column
  .advantages
    padding: 50px 0
    &__title
      margin-bottom: 35px
      font-size: 28px
      line-height: 30px
    &__card
      &-image
        display: block
        &--media
          display: none
  .grow
    &__title
      margin-bottom: 40px
    &__image 
      width: 100%
  .products
    padding: 50px 0
    &__title
      margin-bottom: 35px
      font-size: 28px
      line-height: 30px
  .reviews
    &__title
      margin-bottom: 35px
      font-size: 28px
      line-height: 30px
    &__slider
      flex-direction: column
    &__image
      order: -10
      width: 100%
      &-image
        display: block
      &-media
        display: none
    &__text
      width: 100%
      padding: 20px
      &-name
        float: left
        margin-bottom: 38px
  .contact
    &__title
      margin-bottom: 35px
      font-size: 28px
      line-height: 30px
    &__questions
      padding: 20px
    &__input
      margin-bottom: 20px
      &-name
        flex-basis: 100%
        font-size: 17px
        line-height: 18px
        margin-bottom: 15px
      &-email
        flex-basis: 100%
        font-size: 17px
        line-height: 18px
        margin-bottom: 15px
      &-message
        font-size: 17px
        line-height: 18px
        margin-bottom: 15px
    &__button
      left: 82%
      bottom: 47px  
  .footer
    padding: 35px 0
    &__contact
      &-item 
        font-size: 15px
        line-height: 100%
    &__logo
      width: 100px
    &__social
      width: 80px
      &-follows
        font-size: 15px
        line-height: 100%
        margin-bottom: 10px
      &-facebook
        width: 20px
        height: 20px
      &-twitter
        width: 20px
        height: 20px
      &-telegram
        width: 20px
        height: 20px








      

      

  
