.products
 padding-top: 170px
 padding-bottom: 100px
 &__title
  font-style: normal
  font-weight: 400
  font-size: 40px
  line-height: 43px
  color: $text-color
  margin-bottom: 60px
  margin-top: 0
  text-align: center
 &__cards
  display: flex
  justify-content: space-between
  flex-wrap: wrap
 &__card
  display: flex
  flex-wrap: wrap
  flex-direction: column
  margin-bottom: 30px
  &-image 
   display: block
   margin-bottom: 20px
  &-name
   flex-wrap: wrap
   font-family: 'Inter'
   font-style: normal
   font-weight: 500
   font-size: 20px
   line-height: 24px
   margin-bottom: 10px
   color: black
  &-price
   flex-basis: 100%
   margin-bottom: 6px
   font-style: normal
   font-weight: 400
   font-size: 17px
   line-height: 18px
   color: #000
   opacity: 0.6
 &__button
  background-color: $primary
  color: #FFFFFF
  display: block
  margin: auto
  cursor: pointer
 &__link
  text-decoration: none
  cursor: pointer
